<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="A front-end template that helps you build fast, modern mobile web apps."
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />
    <title></title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="icon" sizes="192x192" href="/images/android-desktop.png" />

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Material Design Lite" />
    <link rel="apple-touch-icon-precomposed" href="/images/ios-desktop.png" />

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta
      name="msapplication-TileImage"
      content="images/touch/ms-touch-icon-144x144-precomposed.png"
    />
    <meta name="msapplication-TileColor" content="#3372DF" />

    <link rel="shortcut icon" href="/images/favicon.png" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css"
    />
    <link rel="stylesheet" href="/css/css_dashboard/dashboard_styles.css" />
  </head>
  <body>
    <%- include('partials/sucess.ejs') %>
    <div
      class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header"
    >
      <header
        class="demo-header mdl-layout__header mdl-color--grey-100 "
      >

        <div class="mdl-layout__header-row">
          <h4>Results Portal</h4>
        </div>
      </header>
      <div
        class="demo-drawer mdl-layout__drawer"
      >
        <header class="demo-drawer-header">
          <img src="/images/user.jpg" class="demo-avatar" />
          
          <p><%=user.name%></p>
          <!-- <div class="demo-avatar-dropdown">
          <span>Shashwat@gmail.com</span>
            
            <div class="mdl-layout-spacer"></div>
            <button
              id="accbtn"
              class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
            >
              <i class="material-icons" role="presentation">arrow_drop_down</i>
              <span class="visuallyhidden">Accounts</span>
            </button>
            <ul
              class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
              for="accbtn"
            >
              <li class="mdl-menu__item">hello@example.com</li>
              <li class="mdl-menu__item">info@example.com</li>
              <li class="mdl-menu__item">
                <i class="material-icons">add</i>Add another account...
              </li>
            </ul>
          </div> -->
        </header>

  
        
        <nav class="demo-navigation mdl-navigation">
          <a class="mdl-navigation__link" href="#"
            ><i
              class="material-icons"
              role="presentation"
              >cast_for_education</i
            >Home</a>
            <a class="mdl-navigation__link" href="/user/settings"
            ><i
              class="material-icons"
              role="presentation"
              >settings</i
            >Settings</a>
          <a class="mdl-navigation__link" href="/user/logout"
            ><i
              class="material-icons"
              role="presentation"
              >account_circle</i
            >Logout</a>

          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link" href=""
            ><i
              class="material-icons"
              role="presentation"
              >help_outline</i
            >Help</a
          >
        </nav>
      </div>
      
      <main  class="mdl-layout__content mdl-color--grey-100">
      
        <table class="mdl-data-table  mdl-js-data-table mdl-data-table mdl-shadow--1dp">
          <thead>
            <tr class="thead_child">
              <th class=" mdl-data-table__cell--non-numeric">Subject</th>
              <th>Subject Code</th>
              <th>Grade</th>
              <th>Pointer</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Chemistry</td>
              <td>MA-101</td>
              <td>AA</td>
              <td>10</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Physics</td>
              <td>MA-101</td>
              <td>AA</td>
              <td>10</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Mechanics</td>
              <td>MA-101</td>
              <td>AA</td>
              <td>10</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Descrete Mathematics</td>
              <td>MA-101</td>
              <td>AA</td>
              <td>10</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">MPMC</td>
              <td>MA-101</td>
              <td>AA</td>
              <td>10</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">C&S</td>
              <td>MA-101</td>
              <td>AA</td>
              <td>10</td>
            </tr>
          </tbody>
        </table>
        

      </main>
    </div>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script>
      const closeIt=()=>{
              document.querySelector(".sucess-flash-msg").style.display="none";
              
          }
  </script>
  </body>
</html>