<form action="/user/forgotPassword" method="POST">
    <label for="email">Enter your institute email</label> <br/>
    <input type="email" name="email"> <br/> <br/>
    <input type="submit" value="Send Password reset link">
</form>