<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="description"
            content="A front-end template that helps you build fast, modern mobile web apps."
        />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
        />
        <title></title>

        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes" />
        <link rel="icon" sizes="192x192" href="/images/android-desktop.png" />

        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta
            name="apple-mobile-web-app-title"
            content="Material Design Lite"
        />
        <link
            rel="apple-touch-icon-precomposed"
            href="/images/ios-desktop.png"
        />

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta
            name="msapplication-TileImage"
            content="images/touch/ms-touch-icon-144x144-precomposed.png"
        />
        <meta name="msapplication-TileColor" content="#3372DF" />

        <link rel="shortcut icon" href="/images/favicon.png" />

        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
        />
        <link
            rel="stylesheet"
            href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css"
        />
        <!-- Internal Stylings -->
        <link rel="stylesheet" href="css/css_global.css" />
        <link rel="stylesheet" href="css/css_dashboard/dashboard_styles.css" />
        <link
            rel="stylesheet"
            href="css/css_settings/css_setting_section.css"
        />
    </head>
    <body>
        <div
            class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header"
        >
            <div class="demo-drawer mdl-layout__drawer">
                <header class="demo-drawer-header">
                    <img src="/images/user.jpg" class="demo-avatar" />

                    <p>Shashwat Priyadarshy</p>
                    <div class="demo-avatar-dropdown">
                        <span>Shashwat@gmail.com</span>

                        <div class="mdl-layout-spacer"></div>
                        <button
                            id="accbtn"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                        >
                            <i class="material-icons" role="presentation"
                                >arrow_drop_down</i
                            >
                            <span class="visuallyhidden">Accounts</span>
                        </button>
                        <ul
                            class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            for="accbtn"
                        >
                            <li class="mdl-menu__item">hello@example.com</li>
                            <li class="mdl-menu__item">info@example.com</li>
                            <li class="mdl-menu__item">
                                <i class="material-icons">add</i>Add another
                                account...
                            </li>
                        </ul>
                    </div>
                </header>
                <nav class="demo-navigation mdl-navigation">
                    <a class="mdl-navigation__link" href="/"
                        ><i class="material-icons" role="presentation"
                            >cast_for_education</i
                        >MY SUBJECTS</a
                    >
                    <a class="mdl-navigation__link" href="/settings"
                        ><i class="material-icons" role="presentation"
                            >settings</i
                        >Settings</a
                    >
                    <a class="mdl-navigation__link" href="/login"
                        ><i class="material-icons" role="presentation"
                            >account_circle</i
                        >Logout</a
                    >

                    <div class="mdl-layout-spacer"></div>
                    <a class="mdl-navigation__link" href=""
                        ><i class="material-icons" role="presentation"
                            >help_outline</i
                        >Help</a
                    >
                </nav>
            </div>
            <main class="mdl-layout__content mdl-color--grey-100">
                <div class="settings">
                    <div class="container">
                        <div class="profile_image">
                            <div class="image_container">
                                <img src="/images/user.jpg" alt="" />
                            </div>
                            <a href="#">Change Profile Picture</a>
                        </div>
                        <div class="profile_settings">
                            <form action="" class="form">
                                <div class="form_fieldItem">
                                    <label for="fullName">Full Name</label>
                                    <input
                                        type="text"
                                        placeholder="Enter your Full Name"
                                    />
                                </div>
                                <div class="form_fieldItem">
                                    <label for="scholarID">Scholar ID</label>
                                    <input
                                        type="text"
                                        value="1912033"
                                        disabled
                                    />
                                </div>
                                <div class="form_fieldItem">
                                    <label>
                                        <a href="#">Change Password</a></label
                                    >
                                </div>
                                <hr width="100%" />
                                <div class="form_fieldItem">
                                    <label for="scholarID"
                                        >To save changes, enter password</label
                                    >
                                    <input
                                        type="password"
                                        placeholder="Enter your current password"
                                    />
                                </div>
                                <input type="submit" value="Save Changes" />
                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    </body>
</html>
