<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
</head>

<body>
    <form action="/admin/result/upload" enctype="multipart/form-data" method="POST">
        <input type="text" name="sem" placeholder="Semester">
        <input type="text" name="branch" placeholder="Branch">
        <input type="text" name="year" placeholder="Session (2019-2020)">
        <input type="file" accept=".csv" name="csvfile" />
        <button type="submit" value="Submit">Submit</button>
    </form>

    <%- include('partials/footer.ejs') %>
</body>

</html>