:root {
    --white: #ffffff;
    --black: #000000;
    --dwhite: #ffffff;
    --dblack: #000000;
    --primaryColor: #5ebeca;
    --primaryNavarColor: #ff8445;
    --offBlack: #1a1a1a;
    --offBlack1: #383838;
    --offBlack2: #7a7a7a;
    --offWhite: #e5e5e5;
    --offWhite1: #f5f5f8;
    --offWhite2: #c5c5c5;
    --error-msg: #fa5f51;
    --gradient1: linear-gradient(
        to right top,
        #b6fbf6,
        #befcff,
        #d1f9ff,
        #d2f1ff,
        #e5eefe,
        #e7eefd,
        #e8effb,
        #eaeffa,
        #dff2ff,
        #d1f6ff,
        #d2e9eb,
        #d3faf7
    );
    --opensans: 'Open Sans', Times, serif;
    --centuryGothic: 'Century Gothic', Times, serif;
    --timesNewRoman: 'Times New Roman', Times, serif;
}

/* flash message sucess*/
.sucess-flash-msg {
    background-color: #1dd00c;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 6;
}
.alert-flash-msg{
    background-color: #d03a0c;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 6;
}
.error {
    margin: 7px;
}
.cross {
    position: absolute;
    right: 100px;
}
.cross:hover {
    cursor: pointer !important;
}

/*footer styles*/
footer {
    position: absolute;
    font-size: 14px;
    z-index: 10;
}

@media (max-width: 600px) {
    footer {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    footer {
        font-size: 9px;
    }
}
