// color : var(--primaryColor);
// font-family : var(--centuryGothic);

:root {
  // ************************************************
  // Colors

  // Primary Swatches
  --primaryColor: #5ebeca;
  --primaryNavarColor: #ff8445;

  // Black and Whites
  --offBlack: #1a1a1a;
  --offBlack1: #383838;
  --offBlack2: #7a7a7a;
  --offWhite: #e5e5e5;
  --offWhite1: #d4d4d4;
  --offWhite2: #c5c5c5;
  // ************************************************
  // Fonts Name
  --opensans: "'Open Sans', Times, serif";
  --centuryGothic: "'Century Gothic', Times, serif";
  --timesNewRoman: "'Times New Roman', Times, serif";
  // ************************************************
}
