.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-image: var(--gradient1);
    .container {
        display: flex;
        flex-direction: column;
        height: 60rem;
        width: 37%;
        background-color: var(--dwhite);

        .profile_image {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            margin-top: 2.5rem;
            padding: 1rem 0rem;
            .image_container {
                overflow: hidden;
                border-radius: 50%;
                object-fit: cover;
                // width: 20%;
                height: 120px;
                width: 120px;
                img {
                    width: 100%;
                    height: 100%;
                    transition: all 0.2s;
                }
                &:hover img {
                    transform: scale(1.1);
                    opacity: 0.9;
                }
            }
            a {
                color: var(--primaryColor);
                font-size: 1em;
                margin: 1em 0;
                text-decoration: none;
            }
        }
        .profile_settings {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 2rem 0;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    justify-content: center;
    hr {
        width: 80%;
    }
    .form_fieldItem {
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: space-between;
        margin: 0.5em 0;
        label {
            width: 100%;
            margin: 0.5em 0em;
            color: var(--offBlack2);
            a {
                color: var(--primaryColor);
                font-size: 1em;
            }
        }
    }
    
    input[type='file']{
        color: transparent;
    }
    input[type='text'],
    input[type='password'] {
        padding: 1em 1em;
        border: 1px solid;
        border-radius: 3px;
        border-color: var(--offWhite2);
        font-size: 1.3em;
        font-family: var(--opensans);
    }
    input[type='submit'] {
        cursor: pointer;
        border: none;
        padding: 1em 1.5em;
        background-color: var(--primaryColor);
        color: var(--dwhite);
        border-radius: 5px;
        margin: 2em 0;
        transition: all 0.2s;
        &:hover {
            opacity: 0.9;
        }
    }

}

.file-submit {
    cursor: pointer;
    border: none;
    padding: 1em 1.5em;
    background-color: var(--primaryColor);
    color: var(--dwhite);
    border-radius: 5px;
    margin: 1em 0;
    transition: all 0.2s;
    &:hover {
        opacity: 0.9;
    }
}

.custom-file-input{
    width: 90px;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content: 'Select image';
    // display: inline-block;
    background: var(--primaryColor);
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    color: #fff;
    font-weight: 400;
    font-size: 10pt;
    
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}


.submitInput{
 display: flex;
 justify-content: center;
 align-items: center;
    input{
        margin: 10px;
    }
}
@media (max-width: 1300px) {
    .settings .container {
        width: 65%;
    }
}
@media (max-width: 700px) {
    .settings .container {
        width: 85%;
    }
}
@media (max-width: 700px) {
    .settings .container {
        width: 95%;
    }
}
