.icon_select_mate {
    position: absolute;
    top: 10px;
    right: 2%;
    font-size: 16px;
    height: 22px;
    transition: all 275ms;
}
// <option value="">Semester</option>
// <option value="1">Select option 1</option>
// <option value="2">Select option 2</option>
// <option value="3">Select option 3</option>
.select_mate {
    position: relative;
    float: left;
    width: 95%;
    height: 45px;
    font-family: 'Roboto';
    color: #777;
    font-weight: 300;
    background-color: #fff;
    box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    transition: all 375ms ease-in-out;
    transform: translateY(3em);
    /* Oculto el elemento select */
    select {
        position: absolute;
        overflow: hidden;
        height: 0px;
        opacity: 0;
    }
}

.cont_list_select_mate {
    position: relative;
    float: left;
    width: 100%;
}

.cont_select_int {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
    overflow: hidden;
    height: 0px;
    width: 100%;
    background-color: #fff;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
    transition: all 375ms ease-in-out;

    li {
        position: relative;
        float: left;
        width: 100%;
        border-bottom: 1px solid #e0e0e0;
        background-color: #f5f5f5;
        list-style-type: none;
        padding: 10px 2%;
        margin: 0px;
        transition: all 275ms ease-in-out;
        display: block;
        cursor: pointer;

        &:last-child {
            border-radius: 3px;
            border-bottom: 0px;
        }
        &:hover {
            background-color: #eeeeee;
        }
    }

    .active {
        background-color: #eeeeee;
    }
}

/* etiqueta <p> con la opcion selecionada  */
.selecionado_opcion {
    padding: 10px 5%;
    width: auto;
    display: block;
    margin: 0px;
    cursor: pointer;
}
