* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--offWhite1);
    background-image: var(--gradient1);
}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--dwhite);
    border-radius: 20px;
    width: 50vw;
    height: auto;

    .illustration {
        border-radius: 20px 0 0 20px;
        padding: 4em 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width: 40%;
        border-right: 1px solid;
        border-color: var(--offWhite1);
        // background-image: url('../../images/illus.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        text-align: start;
        background-color: var(--primaryColor);
        transition: all 0.4s;
        &:hover {
            width: 43%;
        }
        .mtitle {
            display: none;
        }
        img {
            width: 70%;
        }
        .des {
            width: 100%;
            height: 30%;
        }
        h1 {
            color: var(--offWhite1);
            font-size: 3.5em;
            font-weight: 700;
        }
        span {
            font-weight: 700;
        }
        p {
            font-size: 1.3em;
            color: var(--offWhite1);
            font-family: var(--opensans);
        }
        .description {
            font-size: 1.5em;
            line-height: 1.2em;
            align-self: flex-start;
        }
    }
    .form_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 60%;
        padding: 0 1.5em;
        h1 {
            color: var(--offBlack1);
            font-size: 2.5em;
            font-weight: 200;
            span {
                font-weight: 700;
            }
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    height: 100%;
    justify-content: center;
    hr {
        width: 80%;
    }
    h2 {
        font-size: 1.5em;
        color: var(--offWhite2);
        margin: 0.2em 0 !important;
    }
    p {
        margin: 0.5em 0;
        font-size: 0.8em;
        color: var(--offWhite2);
    }
    .form_fieldItem {
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: space-between;
        margin: 0.5em 0;
        label {
            width: 100%;
            margin: 0.5em 0em;
            color: var(--offBlack2);
            a {
                color: var(--primaryColor);
                font-size: 1em;
            }
        }
    }
    input[type='text'],
    input[type='email'],
    input[type='password'] {
        padding: 0.8em 0.8em;
        border: 1px solid;
        border-radius: 5px;
        border-color: var(--offWhite2);
        font-size: 1.4em;
        font-family: var(--opensans);
    }
    ::placeholder {
        opacity: 0.3;
    }
    input[type='submit'] {
        cursor: pointer;
        border: none;
        padding: 1em 1.5em;
        background-color: var(--primaryColor);
        color: var(--dwhite);
        border-radius: 5px;
        margin: 2em 0;
        transition: all 0.2s;
        width: 90%;
        &:hover {
            opacity: 0.9;
        }
    }
}

@media (max-width: 1000px) {
    .login {
        width: 80%;
    }
    .login .illustration img {
        width: 80%;
    }
    .form input[type='text'],
    .form input[type='password'] {
        font-size: 1em;
    }
}
@media (max-width: 600px) {
    main {
        height: auto;
    }
    .login {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .login .illustration {
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 0px;
    }
    .login .illustration h1 {
        text-align: center;
        font-size: 2em;
    }
    .login .illustration p {
        text-align: center;
    }
    .login .illustration img {
        display: none;
    }
    .login .form_section {
        width: 100%;
    }
    .login .form_section h1 {
        text-align: center;
    }
    .form {
        width: 100%;
        align-items: center;
    }
    .forgot label {
        text-align: center;
    }
}
