* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: var(--offWhite1);
  background-image: var(--gradient1);
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--dwhite);
  border-radius: 20px;
  width: 50vw;
  height: auto;
}

.login .illustration {
  border-radius: 20px 0 0 20px;
  padding: 4em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  width: 40%;
  border-right: 1px solid;
  border-color: var(--offWhite1);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: start;
  background-color: var(--primaryColor);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.login .illustration:hover {
  width: 43%;
}

.login .illustration .mtitle {
  display: none;
}

.login .illustration img {
  width: 70%;
}

.login .illustration .des {
  width: 100%;
  height: 30%;
}

.login .illustration h1 {
  color: var(--offWhite1);
  font-size: 3.5em;
  font-weight: 700;
}

.login .illustration span {
  font-weight: 700;
}

.login .illustration p {
  font-size: 1.3em;
  color: var(--offWhite1);
  font-family: var(--opensans);
}

.login .illustration .description {
  font-size: 1.5em;
  line-height: 1.2em;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.login .form_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 60%;
  padding: 0 1.5em;
}

.login .form_section h1 {
  color: var(--offBlack1);
  font-size: 2.5em;
  font-weight: 200;
}

.login .form_section h1 span {
  font-weight: 700;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 80%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form hr {
  width: 80%;
}

.form h2 {
  font-size: 1.5em;
  color: var(--offWhite2);
  margin: 0.2em 0 !important;
}

.form p {
  margin: 0.5em 0;
  font-size: 0.8em;
  color: var(--offWhite2);
}

.form .form_fieldItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.5em 0;
}

.form .form_fieldItem label {
  width: 100%;
  margin: 0.5em 0em;
  color: var(--offBlack2);
}

.form .form_fieldItem label a {
  color: var(--primaryColor);
  font-size: 1em;
}

.form input[type='text'],
.form input[type='password'] {
  padding: 0.8em 0.8em;
  border: 1px solid;
  border-radius: 5px;
  border-color: var(--offWhite2);
  font-size: 1.4em;
  font-family: var(--opensans);
}

.form ::-webkit-input-placeholder {
  opacity: 0.3;
}

.form :-ms-input-placeholder {
  opacity: 0.3;
}

.form ::-ms-input-placeholder {
  opacity: 0.3;
}

.form ::placeholder {
  opacity: 0.3;
}

.form input[type='submit'] {
  cursor: pointer;
  border: none;
  padding: 1em 1.5em;
  background-color: var(--primaryColor);
  color: var(--dwhite);
  border-radius: 5px;
  margin: 2em 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 90%;
}

.form input[type='submit']:hover {
  opacity: 0.9;
}

/* footer styles */
footer {
  position: relative;
  font-size: 14px;
}


@media (max-width: 1000px) {
  .login {
    width: 80%;
  }
  .login .illustration img {
    width: 80%;
  }
  .form input[type='text'],
  .form input[type='password'] {
    font-size: 1em;
  }
}

@media (max-width: 600px) {
  main {
    height: auto;
  }
  .login {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .login .illustration {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    border-radius: 0px;
  }
  .login .illustration h1 {
    text-align: center;
    font-size: 2em;
  }
  .login .illustration p {
    text-align: center;
  }
  .login .illustration img {
    display: none;
  }
  .login .form_section {
    width: 100%;
  }
  .login .form_section h1 {
    text-align: center;
  }
  .form {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .forgot label {
    text-align: center;
  }

  footer {
    font-size: 12px;
  }
}

@media (max-width: 480px){
  footer {
    font-size: 9px;
  }
}
/*# sourceMappingURL=css_login.css.map */